.test {}

header {
  background-color: black;
  color: white;
  width: 100;
  padding: 10px;
}

.separator {
  border-bottom: 2px solid blue;
  margin-bottom: 10px;
}

body {
  background-color: grey;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  background-color: black;
}